.carrousel{
    position:relative;
}


.carrousel__item{
    height:300px;
    background-color: grey;
    padding:1em;
    font-family:'Quick sand', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color:#fff;
    display:none;
}

.carrousel__item__selected{
    display:block;
}


.carrousel__nav{
    width:100%;
    padding:20px 0;
    position:absolute;
    bottom:0;
    left:0;
    text-align: center;
}



.carrousel__button{
    width:10px;
    height:10px;
    display: inline-block;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    margin:5px 0;
    cursor:pointer;
}


.carrousel__button__selected{
    background: rgba(255,255,255,0.5);
}