.turno-detalle {
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 2rem auto;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btn {
  background-color: #e63946;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
}

.btn-volver {
  display: inline-block;
  margin-top: 2rem;
  color: #0077b6;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 4em;
}