
/* TÍTULO */
.tramites-titulo {
  text-align: center;
  font-size: 2rem;
  color: #00a8a8;
  font-weight: 600;
  margin-bottom: 25px;
}

/* CARD PRINCIPAL */
.tramite-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* FILA DE TRÁMITE */
.tramite-row {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr; /* 4 columnas iguales */
    align-items: center;
    padding: 10px 0;
    font-weight: 600;
    text-align: center;
}

.tramite-tipo {
  color: #00a8a8;
}

.tramite-fecha {
  color: #555;
}

.tramite-numero {
  color: #444;
}

/* ESTADOS */
.tramite-estado {
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 0.85rem;
  color: white;
}

.en-proceso {
  background: #ffaa00;
}

.finalizado {
  background: #00c853;
}

.rechazado {
  background: #d50000;
}

/* BOTÓN */
.btn-vida {
  background: #00a8a8;
  color: white !important;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  text-decoration: none;
  margin-top: 7em;
}

.btn-vida:hover {
  background: #008c8c;
}

/* FOOTER */
footer {
  text-align: center;
  background: #00a8a8;
  color: white;
  padding: 15px;
  margin-top: 35px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .tramite-row {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 8px;
  }
}
